{% extends 'layout.html' %}


{% block toolbar %}

    <p class='toolbar'>
        <a href="{% url 'album' album.pk %}"><b>Album:</b> <i>{{ album.title }}</i></a> |
        <a href="{% url 'photo' album.pk photo.pk %}"><b>Back to Photo</b></a> |
        <a href="{% url 'create' %}">Create</a> |
        <a href="{% url 'logout' %}">Sign Out</a>
    </p>

{% endblock %}


{% block body %}

{% load inplace_edit thumbnail %}
{% inplace_static %}

    <h2 class='photo-caption' title='click to edit'>{% inplace_edit "photo.caption" edit_empty_value='Add a caption.' %}</h2>
    <a href="{% url 'delete_photo' album.pk photo.pk %}" onclick="return confirm('Are you positive you want to delete this photo?');">
        {% thumbnail photo.image "x600" as im %}
            <img class='photo' src="{{ im.url }}">
        {% endthumbnail %}
    </a>

{% endblock %}